name: divina dev

on:
  push:
    branches:
      - '*'
      - '!main'
      - '!test'
jobs:
  lint:
    runs-on: ubuntu-latest
    container: jhurdle/divina:test
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
  test:
    runs-on: ubuntu-latest
    container: jhurdle/divina:test
    services:
      minio:
        image: jhurdle/divina-storage
        options: --name=minio --health-cmd "curl http://localhost:9000/minio/health/live"
    env:
      PYTHONHASHSEED: 11
      AWS_ACCESS_KEY_ID: 'minioadmin'
      AWS_SECRET_ACCESS_KEY: 'minioadmin'
      S3_HOST: minio
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Test with pytest
        run: |
          python3 -m pytest -k test_1_unit.py
      - name: Test with pytest
        run: |
          python3 -m pytest -k test_2_orchestration.py
        env:
          AWS_ACCESS_KEY_ID: 'minioadmin'
          AWS_SECRET_ACCESS_KEY: 'minioadmin'
          S3_HOST: minio

  pypi:
    runs-on: ubuntu-latest
    container: jhurdle/divina:test
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Test pypi
        run: |
          $PBR_VERSION=${{ github.sha }} python3 setup.py sdist bdist_wheel
          twine check dist/*
