name: divina release

on:
  release:
    types: [published]
    branches:
      - main

jobs:
  release:
    environment: prod
    runs-on: ubuntu-latest
    container: jhurdle/divina:test
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Get latest tag
        id: previoustag
        uses: WyriHaximus/github-action-get-previous-tag@v1
      - name: Build package
        env:
          PBR_VERSION: ${{ steps.previoustag.outputs.tag }}
        run: python3 setup.py sdist bdist_wheel
      - name: Publish package
        if: success()
        run: twine upload dist/* -u __token__ -p ${{ secrets.PYPI_API_TOKEN }}
